{% extends "base.html" %}
{% load static %}

{% block head_content %}
    <script src="{% static "js/home-scripts.js" %}"></script>   
    <script src="{% static "js/send-data.js" %}"></script>
{% endblock %}

{% block main_content %}
    <div class="menu">

        <form name="searchForm">
            <input id="radiusInput" name="radiusInput" type="number" placeholder="Radius..." readonly />
            <div id="wagesContainer">

            </div>
            <input type="hidden" id="latitude" name="latitude"/>
            <input type="hidden" id="longitude" name="longitude"/>
            <input type="hidden" id="areaBounds" name="areaBounds"/>
            <input id="meshDensity" name="meshDensity" type="number" placeholder="Mesh density..." />
            <input type="button" name="button" value="Start search" id="sendButton"/>
        </form>
    </div>

    <div class="main">
        <div class="container" id="map-canvas"></div>
        <input id="pac-input" class="controls" type="text" placeholder="Type place to search">
        <div class="container" >
            <table>
                <tr>
                    <td>
                       <div class="container">
                           
                        </div>
                    </td>
                </tr>
                <tr>
                    <td >
                        
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

