{% extends "base.html" %}
{% load static %}

{% block head_content %}
    <script src="{% static "js/view-for-shops.js" %}"></script>
    <script src="{% static "js/send-data.js" %}"></script>
    <script src="{% static "js/check-status.js" %}"></script>
    <script src="{% static "js/new-map.js" %}"></script>
{% endblock %}

{% block main_content %}
    <div class="menu">

        <FORM NAME="myform">
            <input id="radiusInput" name="radiusInput" type="number" placeholder="Radius..." />
            <div id="wagesContainer">

            </div>
            <input type="hidden" id="latitude" name="latitude"/>
            <input type="hidden" id="longitude" name="longitude"/>
            <input id="meshDensity" name="meshDensity" type="number" placeholder="Mesh density..." />
            <input type="button" name="button" value="Start search" id="sendButton"/>
        </FORM>
    </div>



    <div class="main">
        <div class="container" >
            <table>
                <tr>
                    <td>
                       <div class="container">
                           <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td >
                        <div class="container" id="map-canvas"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

