h1 {
    align-content: center;
    text-align: center;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.8);
    font-weight: 200;
    margin: 0;
}

.newClass{
    align-content: center;
    text-align: center;
    padding: 10px;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}

body {
    background-color: WhiteSmoke;
    background: url("/static/img/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}



li {
    float: left;
    margin-left: 40%;
    padding: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}



    li a:hover {
        background-color: #111;
    }


.button {
    background-color: white;
    border: 2px solid #555555;
    color: black;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 20px;

}

.button:hover {
    background-color: #555555;
    color: white;
}

input {
    display: block;
    padding: 12px 20px;
    margin: 10px auto;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input {
    border: 3px solid #555;
}

input[type="range"] {
    padding: 12px 0px;
}

.searchForm{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}



.shops{
    width: 30%;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}

#radius_input {
    width: 150px;
}

#shop_importance{
    width: 150px;
}

#church_importance{
    width: 150px;
}

#mesh_density{
    width: 150px;
}

.menu {
    width: 20%;
    float: left;
    padding: 20px 5%;
    margin: auto;
    margin-left: 50px;
}

.main {
    width: 76%;
    float: right;
    padding: 20px 10%;
}

.searchForm{
    background-color:rgba(255, 255, 255, 0.8);
    width: 250px;
    padding: 20px 5%;
    border: 5px solid white;
    height: 75%;
    font-family: "Times New Roman", Times, serif;
}


#map-canvas {
  margin: auto;
  height: 75%;
  width: auto;
    border: 5px solid white;

}

.container {
    align-content: center;
    align-items: center;
}

#shopsInCity{
    background-color: lightblue;
}

.google_maps{
    margin-left: 15% ;
}


  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #floating-panel {
    position: absolute;
    left: 25%;
    z-index: 5;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  #floating-panel {
    left: 35%;
    padding: 5px;
    position: absolute;
    bottom: 0px;
    z-index: 5;
  }

  .hidden {
      display: none;
  }

  .info {
      display: block;
      font-size: 30pt;
      font-weight: bold;
      margin: 20px;
      font-family: "Times New Roman", Times, serif;
  }

  .statusContainer {
      text-align: center;
  }

.wageContainer{
    padding: 15px;
    margin: 5px;
}

.wrap{
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px auto 30px auto;
  &:last-child {
    margin-bottom: 0;
  }
}

.clicker{
  background-color: white;
  outline: none;
  font-weight: 600;
	  position:absolute;
  cursor: pointer;
  padding: 0;
	  border: none;
	  height: 64px;
	  width: 64px;
  left: 8px;

	  border-radius: 100px;
	  z-index: 2;
}

.clicker:active{
	  transform: translate(0, 1px);
  height: 63px;
	  box-shadow: 0px 1px 0 0 rgb(190,190,190) inset;
}

.circle{
	  position: relative;
  border-radius:40px;
	  width: 80px;
	  height: 80px;
	  z-index: 1;
}

.circle.third{
  border-radius: 0;
}

.clicker.faster:hover + .circle, .clicker.faster:active + .circle {
	  animation: rotator linear .4s infinite;
}

.clicker.fast:hover + .circle, .clicker.fast:active + .circle {
	  animation: rotator linear .5s infinite;
}

.clicker:hover + .circle, .clicker:active + .circle {
	  animation: rotator linear .8s infinite;
}

@keyframes rotator{
	  from{ transform: rotate(0deg); }
	  to{ transform: rotate(360deg); }
}


.angled {
			background-image: linear-gradient(45deg,
                white 0%,
                white 30%,
                rgb(20,190,235) 30%,
								rgb(20,190,235) 70%,
                white 70%,
                white 100%);
		}

.angled.second{
  			background-image: linear-gradient(
                white 0%,
                white 30%,
                rgb(250,160,120) 30%,
								rgb(250,160,120) 70%,
                white 70%,
                white 100%);
}

.angled.third{
			background-image: linear-gradient(45deg,
                white 0%,
                white 30%,
                rgb(130,230,135) 30%,
								rgb(130,230,135) 70%,
                white 70%,
                white 100%);
}