h1 {
    align-content: center;
    text-align: center;
    margin-top: 0px;
    padding: 20px;
     background-color:rgba(255, 255, 255, 0.8);
}

body {
    background-color: WhiteSmoke;
    background: url("/static/img/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

li {
    float: left;
    margin-left: 40%;
    padding: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    li a:hover {
        background-color: #111;
    }


.button {
    background-color: white;
    border: 2px solid #555555;
    color: black;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 20px;
}

.button:hover {
    background-color: #555555;
    color: white;
}

input {
    display: block;
    padding: 12px 20px;
    margin: 8px auto;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input {
    border: 3px solid #555;
}

input[type="range"] {
    padding: 12px 0px;
}

.searchForm{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}



.shops{
    width: 30%;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}

#radius_input {
    width: 150px;
}

#shop_importance{
    width: 150px;
}

#church_importance{
    width: 150px;
}

#mesh_density{
    width: 150px;
}

.menu {
    width: 20%;
    float: left;
    padding: 20px 5%;
    margin: auto;
    margin-left: 50px;
}

.main {
    width: 70%;
    float: right;
    padding: 20px 10%;
}

.searchForm{
    background-color:rgba(255, 255, 255, 0.8);
    width: 250px;
    padding: 20px 5%;
    border: 1px dashed #ddd;
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
    height: 75%;
}


#map-canvas {
  margin: auto;
  height: 75%;
  width: auto;
    border: 1px dashed #ddd;
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
}

.container {
    align-content: center;
    align-items: center;
}

#shopsInCity{
    background-color: lightblue;
}

.google_maps{
    margin-left: 15% ;
}


  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #floating-panel {
    position: absolute;
    left: 25%;
    z-index: 5;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  #floating-panel {
    left: 35%;
    padding: 5px;
    position: absolute;
    bottom: 0px;
    z-index: 5;
  }

  .hidden {
      display: none;
  }

  .info {
      display: block;
      font-size: 30pt;
      font-weight: bold;
  }

  .statusContainer {
      text-align: center;
  }